<!DOCTYPE html>
<html lang="en">
<head>
	<title>Map View</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load static %}
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
	<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static "images/icons/Map Pin Icon.png" %}"/>
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "maps/vendor/bootstrap/css/bootstrap.min.css" %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "fonts/font-awesome-4.7.0/css/font-awesome.min.css" %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "maps/vendor/animate/animate.css" %}">
	<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static "maps/vendor/css-hamburgers/hamburgers.min.css" %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "maps/vendor/select2/select2.min.css" %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "css/util.css" %}">
	<!-- <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}"> -->
	<!-- mapview css: -->
	<link rel="stylesheet" type="text/css" href="{% static "css/mapview.css" %}">
	<!--===============================================================================================-->
</head>
<body>

	<div class="logo-wrapper">
		<img src="{% static "images/Laze Logo.png" %}" alt="Laze">
	</div>

	<div class="modal fade" id="newPinDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Submit a new pin</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<form>
			<div class="form-group">
				<label for="location-title" class="col-form-label">Location</label>
				<input type="text" class="form-control" id="location-title">
			</div>
			<div class="form-group">
				<label for="message-text" class="col-form-label">What is happening here?</label>
				<textarea class="form-control" id="message-text"></textarea>
			</div>
			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
			<button type="button" class="btn btn-primary">Submit</button>
		</div>
		</div>
	</div>
	</div>

	<div class="limiter">
		<div id="map"></div>
	</div>

	<div class="menu-wrapper">
		<div class="menu-container ml-4 my-4">
			<div class="search-bar-wrapper v-center">
				<input class="search-bar" type="text" placeholder="Where to?">
				<span class="search-symbol">
					<i class="fa fa-search" aria-hidden="true"></i>
				</span>
			</div> 
			<div class="menu-inner-wrapper menu-scroll">
				<div class="menu-group-wrapper">
					<div class ="menu-group-header">
						<span class="menu-group-symbol">
							<i class="fa fa-sort-down" aria-hidden="true"></i>
						</span>
						Food
					</div>
					<div class ="menu-group-body collapsed menu-scroll">
						<div class ="menu-group-item v-center">
							<div class = "icon-wrapper">						
								<img src="{% static "images/icons/Food.png" %}" alt="Laze">
							</div>
							<div>
								Bento Sushi
							</div>
						</div>
						<div class ="menu-group-item v-center">
							<div class = "icon-wrapper">						
								<img src="{% static "images/icons/Coffee.png" %}" alt="Laze">
							</div>
							<div>
								Byte 75 Coffee & Social
							</div>
						</div>
						<div class ="menu-group-item v-center">
							<div class = "icon-wrapper">						
								<img src="{% static "images/icons/Food.png" %}" alt="Laze">
							</div>
							<div>
								El Torito
							</div>
						</div>
						<div class ="menu-group-item v-center">
							<div class = "icon-wrapper">						
								<img src="{% static "images/icons/Food.png" %}" alt="Laze">
							</div>
							<div>
								Fresh Food Company
							</div>
						</div>
						<div class ="menu-group-item v-center">
							<div class = "icon-wrapper">						
								<img src="{% static "images/icons/Food.png" %}" alt="Laze">
							</div>
							<div>
								Harveys
							</div>
						</div>
						<div class ="menu-group-item v-center">
							<div class = "icon-wrapper">						
								<img src="{% static "images/icons/Food.png" %}" alt="Laze">
							</div>
							<div>
								Mr Sub
							</div>
						</div>
						<div class ="menu-group-item v-center">
							<div class = "icon-wrapper">						
								<img src="{% static "images/icons/Food.png" %}" alt="Laze">
							</div>
							<div>
								Pizza Pizza
							</div>
						</div>
						<div class ="menu-group-item v-center">
							<div class = "icon-wrapper">						
								<img src="{% static "images/icons/Coffee.png" %}" alt="Laze">
							</div>
							<div>
								Second Cup
							</div>
						</div>
						<div class ="menu-group-item v-center">
							<div class = "icon-wrapper">						
								<img src="{% static "images/icons/Food.png" %}" alt="Laze">
							</div>
							<div>
								Starbucks
							</div>
						</div>
						<div class ="menu-group-item v-center">
							<div class = "icon-wrapper">						
								<img src="{% static "images/icons/Food.png" %}" alt="Laze">
							</div>
							<div>
								Subway
							</div>
						</div>
						<div class ="menu-group-item v-center">
							<div class = "icon-wrapper">						
								<img src="{% static "images/icons/Food.png" %}" alt="Laze">
							</div>
							<div>
								Terrace Food Court
							</div>
						</div>
						<div class ="menu-group-item v-center">
							<div class = "icon-wrapper">						
								<img src="{% static "images/icons/Coffee.png" %}" alt="Laze">
							</div>
							<div>
								Tim Hortons
							</div>
						</div>
						<div class ="menu-group-item v-center">
							<div class = "icon-wrapper">						
								<img src="{% static "images/icons/Food.png" %}" alt="Laze">
							</div>
							<div>
								Union Market
							</div>
						</div>
					</div>
				</div>
				<div class="menu-group-wrapper">
					<div class ="menu-group-header">
						<span class="menu-group-symbol">
							<i class="fa fa-sort-down" aria-hidden="true"></i>
						</span>
						Study
					</div>
					<div class ="menu-group-body collapsed menu-scroll">
						<div class ="menu-group-item v-center">
							<div class = "icon-wrapper">						
								<img src="{% static "images/icons/Resources.png" %}" alt="Laze">
							</div>
							<div>
								Test
							</div>
						</div>
					</div>
				</div>
				<div class="menu-group-wrapper">
					<div class ="menu-group-header">
						<span class="menu-group-symbol">
							<i class="fa fa-sort-down" aria-hidden="true"></i>
						</span>
						Parking
					</div>
					<div class ="menu-group-body collapsed menu-scroll">
						<div class ="menu-group-item v-center">
							<div class = "icon-wrapper">						
								<img src="{% static "images/icons/Parking.png" %}" alt="Laze">
							</div>
							<div>
								Test
							</div>
						</div>
						<div class ="menu-group-item v-center">
							<div class = "icon-wrapper">						
								<img src="{% static "images/icons/Bike_Parking.png" %}" alt="Laze">
							</div>
							<div>
								Test
							</div>
						</div>
					</div>
				</div>
				<div class="menu-group-wrapper">
					<div class ="menu-group-header">
						<span class="menu-group-symbol">
							<i class="fa fa-sort-down" aria-hidden="true"></i>
						</span>
						Info
					</div>
					<div class ="menu-group-body collapsed menu-scroll">
						<div class ="menu-group-item v-center">
							<div class = "icon-wrapper">						
								<img src="{% static "images/icons/Resources.png" %}" alt="Laze">
							</div>
							<div>
								Test
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- mapview js: -->
	<script src="{% static "maps/vendor/jquery/jquery-3.2.1.min.js" %}"></script>
	<script src="{% static "maps/js/mapview.js" %}"></script>
	<script async defer
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPgjcP8oyWXlZUIpmxaU1pzT2pxXp4Ecc&callback=initMap">
	</script>
	<script>
		var pinIcon = "{% static 'images/pin_icon.png' %}"
		var overlayUrl = "{% static 'images/wlu_map_big.png' %}";
	</script>
	
	<!--===============================================================================================-->	

	<!--===============================================================================================-->
	<script src="{% static "maps/vendor/bootstrap/js/popper.js" %}"></script>
	<script src="{% static "maps/vendor/bootstrap/js/bootstrap.min.js" %}"></script>
	<!--===============================================================================================-->
	<script src="{% static "maps/vendor/select2/select2.min.js" %}"></script>
	<!--===============================================================================================-->
	<script src="{% static "maps/vendor/tilt/tilt.jquery.min.js" %}"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
<script src="{% static "users/js/main.js" %}"></script>


</body>
</html>