{% extends 'base.html' %}
{% block info %}
<p>
    We've emailed you instructions for your resetting your password, if an account with that email exists.
    This should arrive shortly.
</p>
<br>
<p>
    If you haven't received the email, please make sure you've entered the right address and check your spam folder.
</p>
<!-- text-hover button is purple text over black button, change to white text over balck button -->
<div class="container-login100-form-btn">
    <a class="login100-form-btn" style = "text-decoration: none" href="{% url 'login' %}">
        Back to login
    </a>
</div>

{% endblock %}

