<!-- add styling here -->

{% if validlink %}
    <h3>Change password</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.new_password1.errors }}
        <ul>
            <li>Your password must contain at least 8 characters.</li>
            <li>Your password can't be a commonly used password.</li>
            <li>Your password can't be entirely numeric.</li>
        </ul>
        <div>
              <p>New password: {{ form.new_password1 }}</p>  
        </div>
        <div>
              <p>Confirm password: {{ form.new_password2 }}</p>  
        </div>
        {{ form.new_password2.errors }}
        <button type="submit">Change password</button>
    </form>
{% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
      <a href = "{% url 'login' %}">Back to login page</a>
    </p>
{% endif %}

