{% extends 'base.html' %}
{% block info %}
<p style="margin-bottom:10px">
    We've emailed you a link for resetting your password, if an account with that email exists.
</p>
<p>
    If you haven't received the email in a few minutes, please make sure you've entered the right address and check
    your spam folder.
</p>

<div class="container-login100-form-btn">
    <a class="login100-form-btn" style="text-decoration: none" href="{% url 'login' %}">
        Back to login
    </a>
</div>

{% endblock %}