{% extends 'base.html' %}
{% block info %}

{% if validlink %}

<p style="text-align: center; margin-bottom:10px; font-size:18px">Change your password</p>

<p style="margin-bottom:14px">Your new password must be at least 5 characters long.</p>
<div class="wrap-input100 validate-input" data-validate="Password is required">

    <input class="input100" id="{{ form.new_password1.id_for_label }}" type="password" name="{{ form.new_password1.html_name }}"
        placeholder="New Password">
    <span class="focus-input100"></span>
    <span class="symbol-input100">
        <i class="fa fa-lock" aria-hidden="true"></i>
    </span>
</div>

<div class="wrap-input100 validate-input" data-validate="Password is required">
    <input class="input100" id="{{ form.new_password2.id_for_label }}" type="password" name="{{ form.new_password2.html_name }}"
        placeholder="Confirm password">
    <span class="focus-input100"></span>
    <span class="symbol-input100">
        <i class="fa fa-lock" aria-hidden="true"></i>
    </span>
</div>
{{ form.new_password2.errors }}
<div class="container-login100-form-btn">
    <button class="login100-form-btn" type="submit">
        Change Password
    </button>
</div>
{% else %}
<p style="margin-bottom: 10px">
    The password reset link was invalid, possibly because it has already been used.
</p>
<p>Please request a new password reset.</p>

<div class="container-login100-form-btn">
    <a class="login100-form-btn" style="text-decoration: none" href="{% url 'login' %}">
        Back to login
    </a>
</div>
{% endif %}
{% endblock %}